
.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 94vh;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: green;
}
/* main>div{
  flex:1;
} */
.item{
  flex: 1;
}

#editor{
  background-color: #101314;
  /* flex: 1; */
}

#preview{
/* flex: 1; */
background-color: #fff;
}